/* ===== EDIT SIGNIN ===== */

.account {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signin {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.title-signin {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
}

.btn-login {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-login button {
    width: 125px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

.btn-signin {
    float: right;
    margin-right: 10px;
    background-color: #515cf3;
    color: white;
    font-weight: 600;
}

.btn-signup {
    margin-left: 10px;
    background-color: #f0f351;
    color: #000;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .account {
        width: 50%;
        margin-top: 40px;
    }
}

@media (max-width:426px) {
    .account {
        width: 90%;
        margin-top: 40px;
    }
    #signin {
        width: 80%;
    }
}